Cursos/Service References/ServiceEnviarDatosOVAL/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="AuthenticationUser">
        <s:complexType />
      </s:element>
      <s:element name="AuthenticationUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticationUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TokenSucurity" type="tns:TokenSucurity" />
      <s:complexType name="TokenSucurity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthenToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="get_induccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipo_doc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rut_trabajador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_inducción" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado_induccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_inducción" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Notas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_induccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_induccionResult" type="tns:WebServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebServiceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticationUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticationUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticationUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticationUserResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticationUserTokenSucurity">
    <wsdl:part name="TokenSucurity" element="tns:TokenSucurity" />
  </wsdl:message>
  <wsdl:message name="get_induccionSoapIn">
    <wsdl:part name="parameters" element="tns:get_induccion" />
  </wsdl:message>
  <wsdl:message name="get_induccionSoapOut">
    <wsdl:part name="parameters" element="tns:get_induccionResponse" />
  </wsdl:message>
  <wsdl:message name="get_induccionTokenSucurity">
    <wsdl:part name="TokenSucurity" element="tns:TokenSucurity" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="AuthenticationUser">
      <wsdl:input message="tns:AuthenticationUserSoapIn" />
      <wsdl:output message="tns:AuthenticationUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_induccion">
      <wsdl:input message="tns:get_induccionSoapIn" />
      <wsdl:output message="tns:get_induccionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticationUser">
      <soap:operation soapAction="http://microsoft.com/webservices/AuthenticationUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AuthenticationUserTokenSucurity" part="TokenSucurity" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_induccion">
      <soap:operation soapAction="http://microsoft.com/webservices/get_induccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:get_induccionTokenSucurity" part="TokenSucurity" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticationUser">
      <soap12:operation soapAction="http://microsoft.com/webservices/AuthenticationUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AuthenticationUserTokenSucurity" part="TokenSucurity" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_induccion">
      <soap12:operation soapAction="http://microsoft.com/webservices/get_induccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:get_induccionTokenSucurity" part="TokenSucurity" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://wstest.oval.com.uy/security/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://wstest.oval.com.uy/security/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>